* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: palevioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid;
    border-radius: 0.3rem;
    background-color: rgba(255,255,255, 0.5);

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.slides {
    position: relative;
    height: 500px;
    width: 800px;
    display: flex;
    justify-content: end;
}
.next,
.prev {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%);
    border: 1px solid;
}

.next {
    right: 10px;
    transform: rotate(-90deg);
}

.prev {
    left: 10px;
    transform: rotate(-90deg);

}


.title,
.text {
    margin: 1rem;
    max-width: 800px;
    font-weight: bold;
}

.thumbnails {
    width: 100px;
    margin-left: 1rem;
    position: relative;
}
.thumbnails > div {
    width: 100%;
    height: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}


.thumbnails img {
    display: block;
    width: 100%;
    height: 100px;
    filter: grayscale(100%);
}

img.active_thumb {
    filter: grayscale(0);
    border: 5px solid rgb(0, 191, 255);
}

.controls {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: 100%;
}

