<!doctype html>
<html lang="en">

<head>
      <title>Carosello Mono Array</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
      <!-- FONTAWESOME -->
      <script src="https://kit.fontawesome.com/641e4c79bb.js" crossorigin="anonymous"></script>
      
      <!-- Bootstrap CSS v5.2.1 -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
      
      <!-- CSS -->
      <link rel="stylesheet" href="./css/style.css">
</head>

<body>
      
      
            <section class="carousel" id="app">
                  <div class="title text-center text-uppercase">
                        <h1 :class=" i === activeImage ? 'active_text' : '' " v-for="(title, i) in slides">{{slides[activeImage].title}}</h2>
                  </div>
                  <div class="container d-flex justify-content-center align-items-center" @mouseenter="stopAutoPlay" @mouseleave="startAutoPlay">
                        <div class="slides">
                              <img :src="slides[activeImage].image" alt="">
                              <button class="btn btn-primary prev" @click="prevImage"><i class="fa-solid fa-chevron-up fa-xl"></i></button>
                              <button class="btn btn-primary next" @click="nextImage"><i class="fa-solid fa-chevron-down fa-xl"></i></button>
                        </div>
                        <div class="thumbnails">
                              <img  :class=" activeImage === i ? 'active_thumb' : '' " :src="slides[i].image" alt="" v-for="(slide, i) in slides" @click="changeImage(i)">
                        </div>
                        <!-- /.slides -->
                  </div>     
                  
                  <div class="text text-center">
                        
                        <h5 :class=" i === activeImage ? 'active_text' : '' " v-for="(text, i) in slides">{{slides[activeImage].text}}</h5>
                  </div>
            </section>
      
      <!-- Bootstrap JavaScript Libraries -->
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
      <!-- VUEJS -->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      <!-- Main JS -->
      <script src="./js/script.js"></script>
</body>

</html>